---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content="Experienced Web Developer specializing in creating responsive, user-friendly websites and applications. Explore my portfolio to see projects showcasing my expertise in modern web technologies. Let's collaborate to bring your digital ideas to life." />
    <meta name="author" content="mrozyyev" />    

        <!-- Open Graph meta tags -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content="Experienced Web Developer specializing in creating responsive, user-friendly websites and applications. Explore my portfolio to see projects showcasing my expertise in modern web technologies. Let's collaborate to bring your digital ideas to life." />
        <meta property="og:image" content="/mrozyyev-webdev.webp" />
        <meta property="og:url" content={Astro.request.url} />
        <meta property="og:type" content="website" />
        

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== 'undefined') {
        if (
          localStorage.getItem('dark_mode') &&
          localStorage.getItem('dark_mode') == 'true'
        ) {
          document.documentElement.classList.add('dark')
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <script src="../assets/css/main.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
